.searchTxt{
  flex:1;
}
.searchBtn {
  margin-left: 5px;
}
.searchBtn button{
  padding: 10px 15px;
}


$primaryColor: #4527a4;

.prefixNowEditing {
	outline: 2px solid $primaryColor;
}

.prefixInspectorInfo {
	padding: 6px;

	a {
		text-decoration: none;
		font-weight: bold;
	}
}

// TAB PANEL style
.components-button.components-tab-panel__tabs-item {
  font-size: 15px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.components-button.components-tab-panel__tabs-item.active-tab {
  background-color: #4527a4;
  color: #ffffff;
}