// search control button and input field start

.sBtn{
	background: #4527a4;
	color: white;
	border-radius: 0px 50px 50px 0px;
	border:none;
	cursor: pointer;
	padding: 5px 8px;
	margin-left: -5px;
	height: 30px;
	margin-top: 10px;
}
.sBtn:hover{
	background: #1c858c;
	color: white;
}

.inputField{
	  margin-top: 10px;
      margin-bottom: 23px;
		
}
.inputField input{
	width: 215px;
	height: 30px;
	border-radius: 50px 0 0 50px;
}
.inputField input:focus{
	outline: none;
	box-shadow: none;
}
// search control button input field end



// content and style setting start
.customWidth,.colorsPar{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.widthChild{
	margin-bottom: -5px;
	font-weight: 500;
	color: #4524a4;
}
// content and style setting end



// content mediaUpload button start
.mediaBtn{
	background: #4527a4;
	color: white;
	height: 32px;
	margin-top: 16px;
	margin-left:-5px
}
// content mediaUpload button end



// ListPlace start
.listPlace{
display: flex;
align-items: center;
gap: 5px;
cursor: pointer;
}
.listPlace:hover{
background: #4527a4;
color: white;
padding: 5px;
border-radius: 5px;
}
// ListPlace end


// osmBack from and to  button start
.input-container {
	display: flex;
	gap: 5px;
	margin-bottom: 10px;
  }
  
  .input-container input,
  .input-container select {
	flex: 1;
	padding: 5px;
  }
  
  .input-container button {
	padding: 5px 10px;
  }
  
  .travel-info {
	margin-top: 10px;
  }

// osmBack from and to  button end





// latitude and longitude start content setting
.latLanPar{
	display: flex;
	align-items: center;
	gap: 5px;
}
.nmbr{
margin-top: -12px;
}
.latAndLonBtn button{
	background: #4527a4;
	color: white;
	border-radius: 3px;
	border:none;
	cursor: pointer;
	padding: 7px 0px;
	width: 250px;
}
.latAndLonBtn button:hover{
	background: #1c858c;
	color: white;
}

// latitude and longitude end content setting


// map type layer start
.mapViewSwitch {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
}
.mapViewBtn{
	display:flex;
	align-items: center;
	gap: 5px;
	
}

.mapViewSwitch .mapViewBtn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mapViewSwitch .mapViewBtn img {
  width: 18px;
  height: 15px;
  padding: 0 1px;
}

// .mapViewSwitch .vertical-divider {
//   width: 1px;
//   height: 20px;
//   background: #ccc;
//   margin: 0 10px;
// }

.mapViewSwitch .mapViewBtn.active {
  background-color: #4527a4;
  color:white;
  
}
// map type layer start











$primaryColor: #4527a4;

// Common CSS
html {
	scroll-behavior: smooth;
}

// Dashicon
.dashicons {
	font-family: dashicons !important;
}

// Block Name
.wp-block-prefix-block-name {
	* {
		box-sizing: border-box;
	}

	.prefixBlockName {
		display: inline-block;
	}

	.icon {
		font-style: inherit;
	}

	img {
		width: 100%;
		max-width: 100%;
	}
}