
.customWidth{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.widthChild{
	margin-bottom: -5px;
	font-weight: 500;
	color: #4524a4;
}

.colorsPar{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.mediaBtn{
	background: #4527a4;
	color: white;
	height: 32px;
	margin-top: 16px;
	margin-left:-5px
}
.searchConBtn{
	background: #4527a4;
	color: white;
	border-radius:3px;
  border:none;
  cursor: pointer;
	padding: 5px;
	width: 100px;
}







$primaryColor: #4527a4;

// Common CSS
html {
	scroll-behavior: smooth;
}

// Dashicon
.dashicons {
	font-family: dashicons !important;
}

// Block Name
.wp-block-prefix-block-name {
	* {
		box-sizing: border-box;
	}

	.prefixBlockName {
		display: inline-block;
	}

	.icon {
		font-style: inherit;
	}

	img {
		width: 100%;
		max-width: 100%;
	}
}